.App {
  text-align: center;
  margin:0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: black;
  color: white;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: auto;
}

.search-results {
  display: grid;
  background-color: rgb(44, 44, 44);
  color: white;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.search-container{
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  overflow: hidden;
  margin: 20px;
}

.search-name *{
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: left;
}

.search-name{
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: left;
  align-self: center;
}

.artist-image {
  display: inline-block;
  max-width:64px;
  min-height:64px;
  max-height:64px;
  min-height:64px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}